/* 
XS	<576 pixel
S	≥576 pixel
M	≥768px
L	≥992 pixel
XL	≥1200 pixel
XXL	≥1400 pixel */

/* SITO TABLET */
@media screen and (min-width:576px){
    .sidebar{
        flex: 0 0 250px;
    }
    
    .header{
        height: var(--h-header);
        display: flex;
        align-items: center;
    }

    /* cambio lista sidebar */
    .sidebar li{
        justify-content: flex-start;
    }

    .sidebar .description{
        display: inline-block;
    }

    /* cambio logo spotify */
    #logo-small{
        display: none;
    }

    #logo{
        display: inline-block;
        height: 50px;
    }
}

/* SITO LAPTOP */
@media screen and (min-width: 768px){
    .music-list li{
        flex-basis: 25%;
    }
}

/* SITO DESKTOP */
@media screen and (min-width: 1200px){
    .music-list li{
        flex-basis: calc(100% / 6);
    }
}